.section {
  width: 100%;
  min-height: 50vh;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 1.5rem 1rem;
}

.div__element_fav {
  background-color: #d4e157;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 13rem;
  width: 9.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div__element_fav:hover {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.img__element_fav {
  width: 8.5rem;
  height: 12rem;
  border-radius: 1.25rem;
}

.p__alerta {
  margin: 5rem;
  color: #d84315;
  font-weight: 800;
}

@media (min-width: 780px) {
  .div__element_fav {
    width: 12rem;
    height: 17rem;
  }
  .img__element_fav {
    width: 11rem;
    height: 15rem;
  }
  .section {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2.5rem 3rem;
  }
}
.pulsate-fwd:hover {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
