.div__container {
  max-width: 26rem;
  margin: 0 auto;
  border-left: 2px solid #d84315;
  border-right: 2px solid #d84315;
  border-radius: 2.6rem 2.6rem 0rem 0rem;
}
.div__datas {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.div__container_img {
  width: 100%;
  max-width: 26rem;
  height: 23rem;
  background-color: #d84315;
  display: flex;
  border-radius: 2.5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.img__details {
  max-width: 22.5rem;
  width: 90%;
  height: 20rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2.5rem;
}

.div__text_ccontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.div__description {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  word-wrap: break-word;
}

.div__description h2,
.div__extent h2 {
  font-size: 1rem;
}

.div__description p,
.div__extent p {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.div__extent {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.div__button {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.img__options {
  width: 3rem;
  cursor: pointer;
}
.box {
  margin: 0 auto;
  margin-top: 5%;
  transform: "translate(-50%, -50%)";
  width: 60%;
  max-width: 44rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  background-color: #ffff;
  border: "2px solid #d84315";
  box-shadow: 24px;
  border-radius: 20px;
  box-shadow: 0px 1px 4px 0px #26a69a;
  padding-right: 2rem;
}

.form__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__edit textarea,
.form__edit input {
  box-shadow: 0px 1px 4px 0px #26a69a;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.div__buttons_edit {
  width: 90%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons__edit {
  background: transparent;
  width: 20px;
}
.buttons__edit img {
  width: 3rem;
  cursor: pointer;
}
@media (min-width: 400px) {
  .div__description {
    width: 100%;
    max-width: 300px;
  }
}
@media (min-width: 700px) {
  .div__container {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
  .div__datas {
    flex-direction: row;
  }
  .div__container_img {
    width: 60%;
    max-width: none;
    margin-left: 2rem;
  }
  .img__details {
    max-width: none;
  }

  .div__text_ccontainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .div__extent {
    align-items: normal;
  }
}
@media (min-width: 800px) {
  .div__container_img {
    max-width: 50%;
    height: 35rem;
    max-width: none;
    margin-left: 2rem;
  }
  .img__details {
    height: 33rem;
  }
  .div__text_ccontainer {
    height: 20rem;
  }
  .div__description p,
  .div__extent p {
    width: 90%;
  }
}

@media (min-width: 1240px) {
  .div__container_img {
    max-width: 70%;
    height: 45rem;
  }
  .img__details {
    height: 40rem;
  }
  .div__text_ccontainer {
    height: 25rem;
  }
  .div__description {
    width: 100%;
    max-width: none;
  }
  .div__description h2,
  .div__extent h2 {
    font-size: 1.5rem;
  }
  .div__description p,
  .div__extent p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1700px) {
  .div__container_img {
    height: 65rem;
  }
  .img__details {
    height: 55rem;
  }
  .div__description h2,
  .div__extent h2 {
    font-size: 2rem;
  }
  .div__description p,
  .div__extent p {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.vibrate-1:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
